<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Positive:</strong>
  <%= @entry.positive %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @entry.negative %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @entry.intensity %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
