<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p id= "result">
  <strong>Content:</strong>
  <%= @entry.content %>
</p>
<%if @entry.negative%>
  <p id="setter">
    <strong>Negative:</strong>
    <%= @entry.negative %>
    <% class_name = "negative" %>

  </p>
  <p id="setter">

    <strong>Intensity:</strong>

    <%= @entry.intensity %>
  </p>


<%end%>
<%if @entry.positive%>
<p id="setter">
  <strong>Positive:</strong>
  <%= @entry.positive %>
  <% class_name = "positive" %>
  <strong>Intensity:</strong>

  <%= @entry.intensity %>
</p>
<%end%>
<%unless @entry.intensity%>
  <p id="class">Wait for sentiment classification</p>
  <p id="prob"></p>
<%end%>
<% class_features = [] %>
<% data = InquirerClassDatabase.all %>
<% data.where("#{class_name} IS NOT NULL").each do |n| %>
<%    class_features.append(n[class_name]) %>
<% end %>
<p style="visibility: hidden" id="hidden_array">
  <%=class_features%>
</p>




<%= link_to 'Edit', edit_entry_path(@entry), class: "btn btn-info" %> |
<%= link_to 'Back', entries_path, class: "btn btn-default" %>
