<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @entry.content %>
</p>
<%if @entry.negative%>
  <p id="setter">
    <strong>Negative:</strong>
    <%= @entry.negative %>
  </p>
  <p id="setter">

    <strong>Intensity:</strong>

    <%= @entry.intensity %>
  </p>


<%end%>
<%if @entry.positive%>
<p id="setter">
  <strong>Positive:</strong>
  <%= @entry.positive %>
  <strong>Intensity:</strong>

  <%= @entry.intensity %>
</p>
<%end%>
<%unless @entry.intensity%>
  <p id="class">Wait for sentiment classification</p>
  <p id="prob"></p>
<%end%>




<%= link_to 'Edit', edit_entry_path(@entry), class: "btn btn-info" %> |
<%= link_to 'Back', entries_path, class: "btn btn-default" %>
