<p id="notice"><%= notice %></p>

<p>
  <strong>Positive:</strong>
  <%= @inquirer_class_database.positive %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @inquirer_class_database.negative %>
</p>

<p>
  <strong>Support:</strong>
  <%= @inquirer_class_database.support %>
</p>

<p>
  <strong>Hostile:</strong>
  <%= @inquirer_class_database.hostile %>
</p>

<p>
  <strong>Strong:</strong>
  <%= @inquirer_class_database.strong %>
</p>

<p>
  <strong>Power:</strong>
  <%= @inquirer_class_database.power %>
</p>

<p>
  <strong>Weak:</strong>
  <%= @inquirer_class_database.weak %>
</p>

<p>
  <strong>Submit:</strong>
  <%= @inquirer_class_database.submit %>
</p>

<p>
  <strong>Active:</strong>
  <%= @inquirer_class_database.active %>
</p>

<p>
  <strong>Passive:</strong>
  <%= @inquirer_class_database.passive %>
</p>

<p>
  <strong>Pleasure:</strong>
  <%= @inquirer_class_database.pleasure %>
</p>

<p>
  <strong>Pain:</strong>
  <%= @inquirer_class_database.pain %>
</p>

<p>
  <strong>Feel:</strong>
  <%= @inquirer_class_database.feel %>
</p>

<p>
  <strong>Arousal:</strong>
  <%= @inquirer_class_database.arousal %>
</p>

<p>
  <strong>Emote:</strong>
  <%= @inquirer_class_database.emote %>
</p>

<p>
  <strong>Virtue:</strong>
  <%= @inquirer_class_database.virtue %>
</p>

<p>
  <strong>Vice:</strong>
  <%= @inquirer_class_database.vice %>
</p>

<p>
  <strong>Ovrst:</strong>
  <%= @inquirer_class_database.ovrst %>
</p>

<p>
  <strong>Undrst:</strong>
  <%= @inquirer_class_database.undrst %>
</p>

<p>
  <strong>Academ:</strong>
  <%= @inquirer_class_database.academ %>
</p>

<p>
  <strong>Doctrin:</strong>
  <%= @inquirer_class_database.doctrin %>
</p>

<p>
  <strong>Econ:</strong>
  <%= @inquirer_class_database.econ %>
</p>

<p>
  <strong>Exch:</strong>
  <%= @inquirer_class_database.exch %>
</p>

<p>
  <strong>Expressive:</strong>
  <%= @inquirer_class_database.expressive %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @inquirer_class_database.legal %>
</p>

<p>
  <strong>Milit:</strong>
  <%= @inquirer_class_database.milit %>
</p>

<p>
  <strong>Politic:</strong>
  <%= @inquirer_class_database.politic %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @inquirer_class_database.religion %>
</p>

<%= link_to 'Edit', edit_inquirer_class_database_path(@inquirer_class_database) %> |
<%= link_to 'Back', inquirer_class_databases_path %>
