<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>


</head>
<div class="header">
	<div class="container-fluid head">
		<div class="row head">
			<div class="col-md-1 head">
		<%= render 'layouts/user_auth_items' %>
	</div>
	<div class="col-md-8">
	</div>
				<div class="col-md-3 head">
					<H4>Mood Journal</H4>

	</div>
	</div>
</div>
</div>

<div class="body-entry">


	<div class="push">
	</div>
	<div class="container-fluid">
	  	<div class="row">
	  		<div class="col-md-1">
		  		</div>
		  			<div class="col-md-10">
		  				<div class="pageedge">
		  				<div class="page">
	  						<%= yield %>
		  				</div>
		  			</div>
		  			</div>
		  		<div class="col-md-1">
		  	</div>
	    </div>
	</div>
  <script>
  var count = 0
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('60dbe63931b29368c58c', {
      encrypted: true
    });
    var channel = pusher.subscribe('result_channel');

    channel.bind('result_event', function(data) {
      if (count == 0){
      document.getElementById("class").innerHTML = data.prediction;
      document.getElementById("prob").innerHTML = "Probability Negative: "+ data.probabilityn + "|| Probability Positive: "+  data.probabilityp;
      if (data.prediction == 'negative') {
        $.ajax({type: "PATCH", url: window.location.pathname , data: { "negative":true, "positive":false, "intensity":parseFloat(data.probabilityn)},cache: false,});
        $('#setter').load(document.URL +  ' #setter');
      }
      if (data.prediction == 'positive') {
        $.ajax({type: "PATCH", url: window.location.pathname , data: { "negative":false, "positive":true, "intensity":parseFloat(data.probabilityp)},cache: false,});
        $('#setter').load(document.URL +  ' #setter');

      }
        count++
      }


    });
  </script>
  <script>
  $( "#btnClick" ).click(function() {
    console.log( "Handler for .click() called." );
    count = 0
    var entry = $('#entry').val();
    var triggered = channel.trigger('client-command-event',  entry);
  });
  $( "#btnClick" ).keypress(function() {
    if ( event.which == 13 ) {

      console.log( "Handler for .keypress() called." );
        count = 0

        var entry = $('#entry').val();
        var triggered = channel.trigger('client-command-event',  entry);

      }
  });

  </script>
  <script>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };

      var pusher = new Pusher('60dbe63931b29368c58c', {
        encrypted: true
      });
      var channel = pusher.subscribe('private-command');
      channel.bind('client-command-event', function(data) {
      });
    </script>
    <script>
    $(document).ready(function (e) {
    var strArray = eval($("#hidden_array")[0].innerHTML);
        var tmp = [];
        var stmt = $("#result")[0].innerHTML;
        var stmt_arry = stmt.split(" ");
        $.each(strArray, function (i, vals) {
            $.each(stmt_arry, function (j, sVal) {
                if (sVal == vals) {
                    stmt_arry[j] = "<b>" + sVal + "</b>";
                }
            });
        });
        var req_stmt = stmt_arry.join(" ");
        $("#result").html(req_stmt);

        });
</script>
</html>
